<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <search>
                <engine>none</engine>
            </search>
        </catalog>
        <simpify_management>
            <general>
                <app_bridge_version>3</app_bridge_version>
            </general>
        </simpify_management>
    </default>
</config>
