<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="none" xsi:type="string">none</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="none" xsi:type="string">none</item>
            </argument>
            <argument name="defaultEngine" xsi:type="string">none</argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\AdapterFactory">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="none" xsi:type="string">SimiCart\SimpifyManagement\DisableSearchEngine\SearchAdapter\Adapter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="none" xsi:type="string">SimiCart\SimpifyManagement\DisableSearchEngine\Model\Indexer\IndexerHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AdvancedSearch\Model\SuggestedQueries">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="none" xsi:type="string">Magento\AdvancedSearch\Model\DataProvider\Suggestions</item>
            </argument>
        </arguments>
    </type>

<!--  GRID COLLECTION DECLARE  -->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="simpify_management_shops_listing_data_source" xsi:type="string">SimiCart\SimpifyManagement\Model\ResourceModel\Shop\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SimiCart\SimpifyManagement\Model\ResourceModel\Shop\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">simicart_simpify_users</argument>
            <argument name="resourceModel" xsi:type="string">SimiCart\SimpifyManagement\Model\ResourceModel\Shop</argument>
        </arguments>
    </virtualType>

    <type name="SimiCart\SimpifyManagement\Model\Session">
        <arguments>
            <argument name="shopRepository" xsi:type="object">SimiCart\SimpifyManagement\Api\ShopRepositoryInterface\Proxy</argument>
            <argument name="storage" xsi:type="object">SimiCart\SimpifyManagement\Model\Session\Storage</argument>
        </arguments>
    </type>
    <virtualType name="SimiCart\SimpifyManagement\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">simpify_shop</argument>
        </arguments>
    </virtualType>


    <preference for="SimiCart\SimpifyManagement\Api\ShopRepositoryInterface" type="SimiCart\SimpifyManagement\Model\ShopRepository"/>
    <preference for="SimiCart\SimpifyManagement\Api\ShopApiInterface" type="SimiCart\SimpifyManagement\Model\ShopApi"/>
</config>
